<!-- <p>{{texto}}</p> -->
<section>
    <!-- <app-navbar></app-navbar> -->
    <!-- <app-sidebar></app-sidebar> -->
    <div class="container">
        
        <div class="d-flex flex-column inicio">
            <h1 class="mt-auto">esta es mi app de angular</h1>
            <div class="mb-auto">
                
                    <button class="col-md-3 buton" mat-flat-button color="primary"  routerLink="/registry">Sing up</button>
                    <button class="col-md-3 " mat-flat-button color="primary"  routerLink="/seguridad/login">Sing in</button>
                
            </div>
        </div>
        
        
    </div>
   
</section>

